In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import dask.dataframe as ddf
from pandas import Series, DataFrame
%matplotlib inline

In [2]:
import seaborn as sn
import plotly.express as px

### Request for Census Tract Level Population data from Census API

In [3]:
stateCode = ['01', '02', '04', '05', '06', '08', '09', '10', '11', '12', '13', '15', '16',
             '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29',
            '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', 
             '44', '45', '46', '47', '48', '49', '50', '51', '53', '54', '55', '56']

In [4]:
len(stateCode)

51

In [5]:
import requests
import pandas as pd
from datetime import datetime
import time
import json
from io import StringIO

In [6]:
def collectAll_county(year, variables):
    basic_url = 'https://api.census.gov/data/' + year + '/acs/acs5?get=NAME,'+ variables + '&for=county:*&in=state:*&key=250f58e35283d400e4185b197e3abe9021079afe'
    r = requests.get(basic_url)
    x = r.json()
    print(x[0])
    variable_list = variables.split(',')
    column_list = ['county_name']
    for item in variable_list:
        column_list.append(item)
    column_list.append('state code')
    column_list.append('county code')
    df = pd.DataFrame(x[1:])
    df.columns = column_list
    return df

#### Total population: B01003_001E

In [7]:
year = '2019'
variables = 'B01003_001E'

In [8]:
pop_19 = collectAll_county(year,variables)
pop_19.head()

['NAME', 'B01003_001E', 'state', 'county']

                county_name B01003_001E state code county code
0  Fayette County, Illinois       21565         17         051
1    Logan County, Illinois       29003         17         107
2   Saline County, Illinois       23994         17         165
3     Lake County, Illinois      701473         17         097
4   Massac County, Illinois       14219         17         127

In [9]:
pop_19.shape

(3220, 4)

#### 1.per capita income: B19301_001E

In [10]:
variables = 'B19301_001E'
df1 = collectAll_county(year,variables)

['NAME', 'B19301_001E', 'state', 'county']

In [11]:
df1.shape

(3220, 4)

In [12]:
df1 = df1.rename(columns = {'B19301_001E': 'per_capita_income'})
df1['fips'] = df1['state code'] + df1['county code']
df1.head()

                county_name per_capita_income state code county code   fips
0  Fayette County, Illinois             23194         17         051  17051
1    Logan County, Illinois             27546         17         107  17107
2   Saline County, Illinois             25342         17         165  17165
3     Lake County, Illinois             45766         17         097  17097
4   Massac County, Illinois             23539         17         127  17127

#### 2.Percent of Population Below Poverty Level: (C17002_002E+C17002_003E)/C17002_001E

In [13]:
variables = 'C17002_002E,C17002_003E,C17002_001E'
df2 = collectAll_county(year,variables)

['NAME', 'C17002_002E', 'C17002_003E', 'C17002_001E', 'state', 'county']

In [14]:
df2 = df2.dropna()
df2['C17002_002E'] = df2['C17002_002E'].astype('int')
df2['C17002_003E'] = df2['C17002_003E'].astype('int')
df2['C17002_001E'] = df2['C17002_001E'].astype('int')

In [15]:
df2['percent_below_poverty'] = ((df2['C17002_002E'] + df2['C17002_003E'])/df2['C17002_001E'])*100

In [16]:
df2['fips'] = df2['state code'] + df2['county code']
df2.head()

,county_name,C17002_002E,C17002_003E,C17002_001E,state code,county code,percent_below_poverty,fips
0,"Fayette County, Illinois",1615,1806,19855,17,051,17.229917,17051
1,"Logan County, Illinois",1077,1246,24979,17,107,9.299812,17107
2,"Saline County, Illinois",2218,2718,23435,17,165,21.062513,17165
3,"Lake County, Illinois",24835,29438,684107,17,097,7.933408,17097
4,"Massac County, Illinois",884,1447,13918,17,127,16.748096,17127

In [17]:
df2.shape

(3220, 8)

#### 3.Percent of Population 25+ with Less than a 12th Grade Education: (B15002_003E,B15002_004E,B15002_005E,B15002_003E,B15002_006E,B15002_007E,B15002_008E,B15002_009E,B15002_010E,B15002_020E,B15002_021E,B15002_022E,B15002_023E,B15002_024E,B15002_025E,B15002_026E,B15002_027E)/B15003_001E

In [18]:
def collectAll_county2(year, variables):
    basic_url = 'https://api.census.gov/data/' + year + '/acs/acs1?get=NAME,'+ variables + '&for=county:*&in=state:*'
    r = requests.get(basic_url)
    x = r.json()
    print(x[0])
    variable_list = variables.split(',')
    column_list = ['county_name']
    for item in variable_list:
        column_list.append(item)
    column_list.append('state code')
    column_list.append('county code')
    df = pd.DataFrame(x[1:])
    df.columns = column_list
    return df

In [19]:
variables = 'B15002_003E,B15002_004E,B15002_005E,B15002_006E,B15002_007E,B15002_008E,B15002_009E,B15002_010E,B15002_020E,B15002_021E,B15002_022E,B15002_023E,B15002_024E,B15002_025E,B15002_026E,B15002_027E,B15002_001E'
df3 = collectAll_county(year,variables)

['NAME', 'B15002_003E', 'B15002_004E', 'B15002_005E', 'B15002_006E', 'B15002_007E', 'B15002_008E', 'B15002_009E', 'B15002_010E', 'B15002_020E', 'B15002_021E', 'B15002_022E', 'B15002_023E', 'B15002_024E', 'B15002_025E', 'B15002_026E', 'B15002_027E', 'B15002_001E', 'state', 'county']

In [20]:
df3.shape

(3220, 20)

In [21]:
def changeInteger(value):
    if value != None:
        return int(value)
    else:
        return np.nan

In [22]:
df3['B15002_003E'] = df3['B15002_003E'].apply(changeInteger)
df3['B15002_004E'] = df3['B15002_004E'].apply(changeInteger)
df3['B15002_005E'] = df3['B15002_005E'].apply(changeInteger)
df3['B15002_006E'] = df3['B15002_006E'].apply(changeInteger)
df3['B15002_007E'] = df3['B15002_007E'].apply(changeInteger)
df3['B15002_008E'] = df3['B15002_008E'].apply(changeInteger)
df3['B15002_009E'] = df3['B15002_009E'].apply(changeInteger)
df3['B15002_010E'] = df3['B15002_010E'].apply(changeInteger)
df3['B15002_020E'] = df3['B15002_020E'].apply(changeInteger)
df3['B15002_021E'] = df3['B15002_021E'].apply(changeInteger)
df3['B15002_022E'] = df3['B15002_022E'].apply(changeInteger)
df3['B15002_023E'] = df3['B15002_023E'].apply(changeInteger)
df3['B15002_024E'] = df3['B15002_024E'].apply(changeInteger)
df3['B15002_025E'] = df3['B15002_025E'].apply(changeInteger)
df3['B15002_026E'] = df3['B15002_026E'].apply(changeInteger)
df3['B15002_027E'] = df3['B15002_027E'].apply(changeInteger)
df3['B15002_001E'] = df3['B15002_001E'].apply(changeInteger)

In [23]:
df3['percent_no_highschool_diploma'] = ((df3['B15002_003E']+df3['B15002_004E']+df3['B15002_005E']+df3['B15002_006E']+df3['B15002_007E']+df3['B15002_008E']+df3['B15002_009E']
                                       +df3['B15002_010E']+df3['B15002_020E']+df3['B15002_021E']+df3['B15002_022E']+df3['B15002_023E']+df3['B15002_024E']+df3['B15002_025E']+df3['B15002_003E']
                                       +df3['B15002_026E']+df3['B15002_027E'])/df3['B15002_001E'])*100

In [24]:
df3['fips'] = df3['state code'] + df3['county code']
df3.head()

,county_name,B15002_003E,B15002_004E,B15002_005E,B15002_006E,B15002_007E,B15002_008E,B15002_009E,B15002_010E,B15002_020E,...,B15002_023E,B15002_024E,B15002_025E,B15002_026E,B15002_027E,B15002_001E,state code,county code,percent_no_highschool_diploma,fips
0,"Fayette County, Illinois",93,22,27,277,202,378,388,125,77,...,137,138,233,199,60,15303,17,051,16.807162,17051
1,"Logan County, Illinois",67,50,49,156,142,251,248,139,58,...,224,123,267,313,174,20373,17,107,11.613410,17107
2,"Saline County, Illinois",84,11,8,214,276,168,443,116,52,...,311,102,210,152,64,17113,17,165,13.802372,17165
3,"Lake County, Illinois",3266,1591,3955,2798,2087,2005,2427,3699,2879,...,2871,2520,2292,1973,3247,457676,17,097,10.078527,17097
4,"Massac County, Illinois",77,17,58,95,57,51,115,137,38,...,153,92,161,100,112,10021,17,127,14.000599,17127

#### 4.Percent of Population Living in Mobile Homes: (B25033_006E+B25033_007E+B25033_012E+B25033_013E)/B25033_001E

In [25]:
variables = 'B25033_006E,B25033_007E,B25033_012E,B25033_013E,B25033_001E'
df4 = collectAll_county(year,variables)

['NAME', 'B25033_006E', 'B25033_007E', 'B25033_012E', 'B25033_013E', 'B25033_001E', 'state', 'county']

In [26]:
df4.shape

(3220, 8)

In [27]:
df4['B25033_006E'] = df4['B25033_006E'].apply(changeInteger)
df4['B25033_007E'] = df4['B25033_007E'].apply(changeInteger)
df4['B25033_012E'] = df4['B25033_012E'].apply(changeInteger)
df4['B25033_013E'] = df4['B25033_013E'].apply(changeInteger)
df4['B25033_001E'] = df4['B25033_001E'].apply(changeInteger)

In [28]:
df4['percent_mobile_homes'] = ((df4['B25033_006E'] + df4['B25033_007E'] + df4['B25033_012E'] + df4['B25033_013E'])/df4['B25033_001E'])*100

In [29]:
df4['fips'] = df4['state code'] + df4['county code']
df4.head()

,county_name,B25033_006E,B25033_007E,B25033_012E,B25033_013E,B25033_001E,state code,county code,percent_mobile_homes,fips
0,"Fayette County, Illinois",1798,13,601,0,19894,17,051,12.124259,17051
1,"Logan County, Illinois",659,0,116,0,24896,17,107,3.112950,17107
2,"Saline County, Illinois",2141,0,852,0,23500,17,165,12.736170,17165
3,"Lake County, Illinois",8522,26,2895,127,683278,17,097,1.693308,17097
4,"Massac County, Illinois",2180,9,388,14,13886,17,127,18.659081,17127

#### 5.Percent of Population with No Vehicle Available: (B25044_003E+B25044_010E)/B25044_001E

In [30]:
variables = 'B25044_003E,B25044_010E,B25044_001E'
df5 = collectAll_county(year,variables)

['NAME', 'B25044_003E', 'B25044_010E', 'B25044_001E', 'state', 'county']

In [31]:
df5.shape

(3220, 6)

In [32]:
df5['B25044_003E'] = df5['B25044_003E'].apply(changeInteger)
df5['B25044_010E'] = df5['B25044_010E'].apply(changeInteger)
df5['B25044_001E'] = df5['B25044_001E'].apply(changeInteger)

In [33]:
df5['percent_no_vehicle'] = ((df5['B25044_003E'] + df5['B25044_010E'])/df5['B25044_001E'])*100

In [34]:
df5['fips'] = df5['state code'] + df5['county code']
df5.head()

,county_name,B25044_003E,B25044_010E,B25044_001E,state code,county code,percent_no_vehicle,fips
0,"Fayette County, Illinois",95,223,7737,17,051,4.110120,17051
1,"Logan County, Illinois",329,380,10797,17,107,6.566639,17107
2,"Saline County, Illinois",257,614,9972,17,165,8.734456,17165
3,"Lake County, Illinois",3371,9054,246122,17,097,5.048309,17097
4,"Massac County, Illinois",137,296,5822,17,127,7.437307,17127

#### 6.Percent of Population Unemployed:sum(B21005_006E, B21005_007E, B21005_011E,B21005_012E,B21005_017E,B21005_022E,B21005_028E,B21005_029E,B21005_033E,B21005_034E)/B21005_001E

In [35]:
variables = 'B21005_006E,B21005_007E,B21005_011E,B21005_012E,B21005_017E,B21005_022E,B21005_028E,B21005_029E,B21005_033E,B21005_034E,B21005_001E'
df6 = collectAll_county(year,variables)

['NAME', 'B21005_006E', 'B21005_007E', 'B21005_011E', 'B21005_012E', 'B21005_017E', 'B21005_022E', 'B21005_028E', 'B21005_029E', 'B21005_033E', 'B21005_034E', 'B21005_001E', 'state', 'county']

In [36]:
df6.shape

(3220, 14)

In [37]:
df6['B21005_006E'] = df6['B21005_006E'].apply(changeInteger)
df6['B21005_007E'] = df6['B21005_007E'].apply(changeInteger)
df6['B21005_011E'] = df6['B21005_011E'].apply(changeInteger)
df6['B21005_012E'] = df6['B21005_012E'].apply(changeInteger)
df6['B21005_017E'] = df6['B21005_017E'].apply(changeInteger)
df6['B21005_022E'] = df6['B21005_022E'].apply(changeInteger)
df6['B21005_028E'] = df6['B21005_028E'].apply(changeInteger)
df6['B21005_029E'] = df6['B21005_029E'].apply(changeInteger)
df6['B21005_033E'] = df6['B21005_033E'].apply(changeInteger)
df6['B21005_034E'] = df6['B21005_034E'].apply(changeInteger)
df6['B21005_001E'] = df6['B21005_001E'].apply(changeInteger)

In [38]:
df6['percent_unemployed_CDC'] = ((df6['B21005_006E']+df6['B21005_007E']+df6['B21005_011E']+df6['B21005_012E']+df6['B21005_017E']+df6['B21005_022E']+df6['B21005_028E']+df6['B21005_029E']+df6['B21005_033E']+df6['B21005_034E'])/df6['B21005_001E'])*100

In [39]:
df6['fips'] = df6['state code'] + df6['county code']
df6.head()

,county_name,B21005_006E,B21005_007E,B21005_011E,B21005_012E,B21005_017E,B21005_022E,B21005_028E,B21005_029E,B21005_033E,B21005_034E,B21005_001E,state code,county code,percent_unemployed_CDC,fips
0,"Fayette County, Illinois",36,27,224,1508,3,208,0,162,23,1218,13053,17,051,26.116602,17051
1,"Logan County, Illinois",10,46,373,2313,7,195,17,84,53,1381,18168,17,107,24.653236,17107
2,"Saline County, Illinois",9,8,397,931,44,186,3,132,52,1502,14013,17,165,23.292657,17165
3,"Lake County, Illinois",54,585,8624,28978,221,5882,201,1808,2695,23020,423911,17,097,17.000738,17097
4,"Massac County, Illinois",4,4,56,567,3,128,0,68,23,1093,8053,17,127,24.164907,17127

#### 7.Percent of Population Living In Accommodations with Less Than 1 Room Per Person/Crowding: (B25014_005E+B25014_006E+B25014_007E+B25014_011E+B25014_012E+B25014_013E)/B25014_001E

In [40]:
variables = 'B25014_005E,B25014_006E,B25014_007E,B25014_011E,B25014_012E,B25014_013E,B25014_001E'
df7 = collectAll_county(year,variables)

['NAME', 'B25014_005E', 'B25014_006E', 'B25014_007E', 'B25014_011E', 'B25014_012E', 'B25014_013E', 'B25014_001E', 'state', 'county']

In [41]:
df7.shape

(3220, 10)

In [42]:
df7['B25014_005E'] = df7['B25014_005E'].apply(changeInteger)
df7['B25014_006E'] = df7['B25014_006E'].apply(changeInteger)
df7['B25014_007E'] = df7['B25014_007E'].apply(changeInteger)
df7['B25014_011E'] = df7['B25014_011E'].apply(changeInteger)
df7['B25014_012E'] = df7['B25014_012E'].apply(changeInteger)
df7['B25014_013E'] = df7['B25014_013E'].apply(changeInteger)
df7['B25014_001E'] = df7['B25014_001E'].apply(changeInteger)

In [43]:
df7['percent_overcrowding'] = ((df7['B25014_005E']+df7['B25014_006E']+df7['B25014_007E']+df7['B25014_011E']+df7['B25014_012E']+df7['B25014_013E'])/df7['B25014_001E'])*100

In [44]:
df7['fips'] = df7['state code'] + df7['county code']
df7.head()

,county_name,B25014_005E,B25014_006E,B25014_007E,B25014_011E,B25014_012E,B25014_013E,B25014_001E,state code,county code,percent_overcrowding,fips
0,"Fayette County, Illinois",8,17,0,24,49,42,7737,17,051,1.809487,17051
1,"Logan County, Illinois",36,0,0,29,3,0,10797,17,107,0.629805,17107
2,"Saline County, Illinois",53,19,0,96,29,0,9972,17,165,1.975531,17165
3,"Lake County, Illinois",1610,238,235,2760,709,83,246122,17,097,2.289515,17097
4,"Massac County, Illinois",57,8,20,40,48,8,5822,17,127,3.108897,17127

#### 8.Percent of Housing Units with 10+ Units in Structure: (B25024_007E+B25024_008E+B25024_009E)/B25024_001E

In [45]:
variables = 'B25024_007E,B25024_008E,B25024_009E,B25024_001E'
df8 = collectAll_county(year,variables)

['NAME', 'B25024_007E', 'B25024_008E', 'B25024_009E', 'B25024_001E', 'state', 'county']

In [46]:
df8.shape

(3220, 7)

In [47]:
df8['B25024_007E'] = df8['B25024_007E'].apply(changeInteger)
df8['B25024_008E'] = df8['B25024_008E'].apply(changeInteger)
df8['B25024_009E'] = df8['B25024_009E'].apply(changeInteger)
df8['B25024_001E'] = df8['B25024_001E'].apply(changeInteger)

In [48]:
df8['percent_multi_unit_housing'] = ((df8['B25024_007E']+df8['B25024_008E']+df8['B25024_009E'])/df8['B25024_001E'])*100

In [49]:
df8['fips'] = df8['state code'] + df8['county code']
df8.head()

,county_name,B25024_007E,B25024_008E,B25024_009E,B25024_001E,state code,county code,percent_multi_unit_housing,fips
0,"Fayette County, Illinois",57,43,50,9315,17,051,1.610306,17051
1,"Logan County, Illinois",191,106,162,12050,17,107,3.809129,17107
2,"Saline County, Illinois",96,133,138,11712,17,165,3.133538,17165
3,"Lake County, Illinois",11309,7873,11611,264078,17,097,11.660570,17097
4,"Massac County, Illinois",46,70,52,7099,17,127,2.366530,17127

#### 9.Percent Of Population 65+: (B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_049E)/B01001_001E

In [50]:
variables = 'B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E,B01001_001E'
df9 = collectAll_county(year,variables)

['NAME', 'B01001_020E', 'B01001_021E', 'B01001_022E', 'B01001_023E', 'B01001_024E', 'B01001_025E', 'B01001_044E', 'B01001_045E', 'B01001_046E', 'B01001_047E', 'B01001_048E', 'B01001_049E', 'B01001_001E', 'state', 'county']

In [51]:
df9.shape

(3220, 16)

In [52]:
df9['B01001_020E'] = df9['B01001_020E'].apply(changeInteger)
df9['B01001_021E'] = df9['B01001_021E'].apply(changeInteger)
df9['B01001_022E'] = df9['B01001_022E'].apply(changeInteger)
df9['B01001_023E'] = df9['B01001_023E'].apply(changeInteger)
df9['B01001_024E'] = df9['B01001_024E'].apply(changeInteger)
df9['B01001_025E'] = df9['B01001_025E'].apply(changeInteger)
df9['B01001_044E'] = df9['B01001_044E'].apply(changeInteger)
df9['B01001_045E'] = df9['B01001_045E'].apply(changeInteger)
df9['B01001_046E'] = df9['B01001_046E'].apply(changeInteger)
df9['B01001_047E'] = df9['B01001_047E'].apply(changeInteger)
df9['B01001_048E'] = df9['B01001_048E'].apply(changeInteger)
df9['B01001_049E'] = df9['B01001_049E'].apply(changeInteger)
df9['B01001_001E'] = df9['B01001_001E'].apply(changeInteger)

In [53]:
df9['percent_age_65_and_older'] = ((df9['B01001_020E']+df9['B01001_021E']+df9['B01001_022E']+df9['B01001_023E']+df9['B01001_024E']+df9['B01001_025E']+df9['B01001_044E']
                                  +df9['B01001_045E']+df9['B01001_046E']+df9['B01001_047E']+df9['B01001_048E']+df9['B01001_049E'])/df9['B01001_001E'])*100

In [54]:
df9['fips'] = df9['state code'] + df9['county code']
df9.head()

,county_name,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E,B01001_001E,state code,county code,percent_age_65_and_older,fips
0,"Fayette County, Illinois",249,308,530,402,185,190,200,339,572,474,315,294,21565,17,051,18.817528,17051
1,"Logan County, Illinois",344,393,545,416,200,350,380,455,642,455,294,750,29003,17,107,18.011930,17107
2,"Saline County, Illinois",382,388,488,365,263,217,304,387,692,449,347,503,23994,17,165,19.942486,17165
3,"Lake County, Illinois",7284,8795,11336,7488,4498,4131,7949,9604,12364,8595,6080,8215,701473,17,097,13.733814,17097
4,"Massac County, Illinois",118,205,393,258,193,101,226,207,408,269,311,273,14219,17,127,20.831282,17127

#### 10.Percent Of Population Who Do Not Speak English: B99163_005E/B99163_001E

In [55]:
variables = 'B99163_005E,B99163_001E'
df10 = collectAll_county(year,variables)

['NAME', 'B99163_005E', 'B99163_001E', 'state', 'county']

In [56]:
df10.shape

(3220, 5)

In [57]:
df10['B99163_005E'] = df10['B99163_005E'].apply(changeInteger)
df10['B99163_001E'] = df10['B99163_001E'].apply(changeInteger)

In [58]:
df10['percent_limited_english_abilities'] = (df10['B99163_005E']/df10['B99163_001E'])*100

In [59]:
df10['fips'] = df10['state code'] + df10['county code']
df10.head()

,county_name,B99163_005E,B99163_001E,state code,county code,percent_limited_english_abilities,fips
0,"Fayette County, Illinois",860,20380,17,051,4.219823,17051
1,"Logan County, Illinois",1174,27450,17,107,4.276867,17107
2,"Saline County, Illinois",696,22496,17,165,3.093883,17165
3,"Lake County, Illinois",174447,660770,17,097,26.400563,17097
4,"Massac County, Illinois",317,13428,17,127,2.360739,17127

#### 11.Percent of Population 17 Years of Age and Under: (B01001_003E+B01001_004E+B01001_005E+B01001_006E+B01001_027E+B01001_028E+B01001_029E+B01001_030E)/B01003_001E

In [60]:
variables = 'B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_027E,B01001_028E,B01001_029E,B01001_030E,B01003_001E'
df11 = collectAll_county(year,variables)

['NAME', 'B01001_003E', 'B01001_004E', 'B01001_005E', 'B01001_006E', 'B01001_027E', 'B01001_028E', 'B01001_029E', 'B01001_030E', 'B01003_001E', 'state', 'county']

In [61]:
df11.shape

(3220, 12)

In [62]:
df11['B01001_003E'] = df11['B01001_003E'].apply(changeInteger)
df11['B01001_004E'] = df11['B01001_004E'].apply(changeInteger)
df11['B01001_005E'] = df11['B01001_005E'].apply(changeInteger)
df11['B01001_006E'] = df11['B01001_006E'].apply(changeInteger)
df11['B01001_027E'] = df11['B01001_027E'].apply(changeInteger)
df11['B01001_028E'] = df11['B01001_028E'].apply(changeInteger)
df11['B01001_029E'] = df11['B01001_029E'].apply(changeInteger)
df11['B01001_030E'] = df11['B01001_030E'].apply(changeInteger)
df11['B01003_001E'] = df11['B01003_001E'].apply(changeInteger)

In [63]:
df11['percent_age_17_and_younger'] = ((df11['B01001_003E']+df11['B01001_004E']+df11['B01001_005E']+df11['B01001_006E']+df11['B01001_027E']+df11['B01001_028E']+df11['B01001_029E']+df11['B01001_030E'])/df11['B01003_001E'])*100

In [64]:
df11['fips'] = df11['state code'] + df11['county code']
df11.head()

,county_name,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_027E,B01001_028E,B01001_029E,B01001_030E,B01003_001E,state code,county code,percent_age_17_and_younger,fips
0,"Fayette County, Illinois",621,621,636,417,564,497,711,387,21565,17,051,20.653837,17051
1,"Logan County, Illinois",828,757,748,544,725,718,784,503,29003,17,107,19.332483,17107
2,"Saline County, Illinois",798,612,803,546,700,571,774,392,23994,17,165,21.655414,17165
3,"Lake County, Illinois",20725,24406,25733,16798,19978,22550,25428,15928,701473,17,097,24.455111,17097
4,"Massac County, Illinois",388,516,344,247,403,712,325,269,14219,17,127,22.533230,17127

#### 12.Percent Minority: 1-(B03002_003E/B03002_001E)

In [65]:
variables = 'B03002_003E,B03002_001E'
df12 = collectAll_county(year,variables)

['NAME', 'B03002_003E', 'B03002_001E', 'state', 'county']

In [66]:
df12.shape

(3220, 5)

In [67]:
df12['B03002_003E'] = df12['B03002_003E'].apply(changeInteger)
df12['B03002_001E'] = df12['B03002_001E'].apply(changeInteger)

In [68]:
df12['percent_minorities'] = (1 - (df12['B03002_003E']/df12['B03002_001E']))*100

In [69]:
df12['fips'] = df12['state code'] + df12['county code']
df12.head()

,county_name,B03002_003E,B03002_001E,state code,county code,percent_minorities,fips
0,"Fayette County, Illinois",19868,21565,17,051,7.869233,17051
1,"Logan County, Illinois",25049,29003,17,107,13.633072,17107
2,"Saline County, Illinois",21957,23994,17,165,8.489622,17165
3,"Lake County, Illinois",432361,701473,17,097,38.363843,17097
4,"Massac County, Illinois",12547,14219,17,127,11.758914,17127

#### 13.Percent of Population with a Disability: (B18101_004E+B18101_007E+B18101_010E+B18101_013E+B18101_016E+B18101_019E)/B18101_002E + (B18101_023E+B18101_026E+B18101_029E+B18101_032E+B18101_035E+B18101_038E)/B18101_021E

In [70]:
variables = 'B18101_004E,B18101_007E,B18101_010E,B18101_013E,B18101_016E,B18101_019E,B18101_002E,B18101_023E,B18101_026E,B18101_029E,B18101_032E,B18101_035E,B18101_038E,B18101_021E'
df13 = collectAll_county(year,variables)

['NAME', 'B18101_004E', 'B18101_007E', 'B18101_010E', 'B18101_013E', 'B18101_016E', 'B18101_019E', 'B18101_002E', 'B18101_023E', 'B18101_026E', 'B18101_029E', 'B18101_032E', 'B18101_035E', 'B18101_038E', 'B18101_021E', 'state', 'county']

In [71]:
df13.shape

(3220, 17)

In [72]:
df13['B18101_004E'] = df13['B18101_004E'].apply(changeInteger)
df13['B18101_007E'] = df13['B18101_007E'].apply(changeInteger)
df13['B18101_010E'] = df13['B18101_010E'].apply(changeInteger)
df13['B18101_013E'] = df13['B18101_013E'].apply(changeInteger)
df13['B18101_016E'] = df13['B18101_016E'].apply(changeInteger)
df13['B18101_002E'] = df13['B18101_002E'].apply(changeInteger)
df13['B18101_023E'] = df13['B18101_023E'].apply(changeInteger)
df13['B18101_026E'] = df13['B18101_026E'].apply(changeInteger)
df13['B18101_029E'] = df13['B18101_029E'].apply(changeInteger)
df13['B18101_032E'] = df13['B18101_032E'].apply(changeInteger)
df13['B18101_035E'] = df13['B18101_035E'].apply(changeInteger)
df13['B18101_038E'] = df13['B18101_038E'].apply(changeInteger)
df13['B18101_021E'] = df13['B18101_021E'].apply(changeInteger)

In [73]:
df13['percent_disabled'] = ((df13['B18101_004E']+df13['B18101_007E']+df13['B18101_010E']+df13['B18101_013E']+df13['B18101_016E'])/df13['B18101_002E'] + (df13['B18101_023E']+df13['B18101_026E']+df13['B18101_029E']+df13['B18101_032E']+df13['B18101_035E']+df13['B18101_038E'])/df13['B18101_021E'])*100

In [74]:
df13['fips'] = df13['state code'] + df13['county code']
df13.head()

,county_name,B18101_004E,B18101_007E,B18101_010E,B18101_013E,B18101_016E,B18101_019E,B18101_002E,B18101_023E,B18101_026E,B18101_029E,B18101_032E,B18101_035E,B18101_038E,B18101_021E,state code,county code,percent_disabled,fips
0,"Fayette County, Illinois",0,120,190,856,303,442,9913,0,68,141,571,283,553,10035,17,051,30.922562,17051
1,"Logan County, Illinois",0,249,371,682,299,483,12822,0,111,227,556,310,629,12913,17,107,26.681349,17107
2,"Saline County, Illinois",11,317,301,1051,524,525,11568,0,141,128,997,576,669,11972,17,165,40.026498,17165
3,"Lake County, Illinois",149,2997,4234,11029,5266,6740,338581,75,1897,3483,11518,5220,9900,346711,17,097,16.248831,17097
4,"Massac County, Illinois",0,53,134,640,282,245,6649,0,8,55,759,236,480,7330,17,127,37.661465,17127

#### 14.Percent of Population Living in Group Quarters: B26001_001E/B01003_001E

In [75]:
variables = 'B26001_001E,B01003_001E'
df14 = collectAll_county(year,variables)

['NAME', 'B26001_001E', 'B01003_001E', 'state', 'county']

In [76]:
df14.shape

(3220, 5)

In [77]:
df14['B26001_001E'] = df14['B26001_001E'].apply(changeInteger)
df14['B01003_001E'] = df14['B01003_001E'].apply(changeInteger)

In [78]:
df14['percent_institutionalized_in_group_quarters'] = (df14['B26001_001E']/df14['B01003_001E'])*100

In [79]:
df14['fips'] = df14['state code'] + df14['county code']
df14.head()

,county_name,B26001_001E,B01003_001E,state code,county code,percent_institutionalized_in_group_quarters,fips
0,"Fayette County, Illinois",1671,21565,17,051,7.748667,17051
1,"Logan County, Illinois",4107,29003,17,107,14.160604,17107
2,"Saline County, Illinois",494,23994,17,165,2.058848,17165
3,"Lake County, Illinois",18195,701473,17,097,2.593828,17097
4,"Massac County, Illinois",333,14219,17,127,2.341937,17127

#### 15.Percent of Children Living in Single Parent Households: (B09005_004E + b98005_005E)/B09005_001E
##### B09005_001E: total
##### B09005_004E: 	Estimate!!Total:!!In male householder, no spouse/partner present household
##### B09005_005E: Estimate!!Total:!!In female householder, no spouse/partner present household

In [81]:
variables = 'B09005_004E,B09005_005E,B09005_001E'
df15 = collectAll_county(year,variables)

['NAME', 'B09005_004E', 'B09005_005E', 'B09005_001E', 'state', 'county']

In [82]:
df15['B09005_001E'] = df15['B09005_001E'].apply(changeInteger)
df15['B09005_004E'] = df15['B09005_004E'].apply(changeInteger)
df15['B09005_005E'] = df15['B09005_005E'].apply(changeInteger)

In [83]:
df15['percent_single_parent_households_CDC'] = ((df15['B09005_004E'] + df15['B09005_005E'])/df15['B09005_001E'])*100

In [84]:
df15['fips'] = df15['state code'] + df15['county code']
df15.head()

,county_name,B09005_004E,B09005_005E,B09005_001E,state code,county code,percent_single_parent_households_CDC,fips
0,"Fayette County, Illinois",320,775,4452,17,051,24.595687,17051
1,"Logan County, Illinois",169,650,5587,17,107,14.659030,17107
2,"Saline County, Illinois",272,1175,5179,17,165,27.939757,17165
3,"Lake County, Illinois",6300,25044,171262,17,097,18.301783,17097
4,"Massac County, Illinois",89,581,3204,17,127,20.911361,17127

### age 18 to 34
#### (B01001_007E+B01001_008E+B01001_009E+B01001_010E+B01001_011E+B01001_012E+B01001_031E+B01001_032E+B01001_033E+B01001_034E+B01001_035E+B01001_036E)/B01001_001E

In [85]:
variables = 'B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_001E'
df16 = collectAll_county(year,variables)

['NAME', 'B01001_007E', 'B01001_008E', 'B01001_009E', 'B01001_010E', 'B01001_011E', 'B01001_012E', 'B01001_031E', 'B01001_032E', 'B01001_033E', 'B01001_034E', 'B01001_035E', 'B01001_036E', 'B01001_001E', 'state', 'county']

In [86]:
df16['B01001_007E'] = df16['B01001_007E'].apply(changeInteger)
df16['B01001_008E'] = df16['B01001_008E'].apply(changeInteger)
df16['B01001_009E'] = df16['B01001_009E'].apply(changeInteger)
df16['B01001_010E'] = df16['B01001_010E'].apply(changeInteger)
df16['B01001_011E'] = df16['B01001_011E'].apply(changeInteger)
df16['B01001_012E'] = df16['B01001_012E'].apply(changeInteger)
df16['B01001_031E'] = df16['B01001_031E'].apply(changeInteger)
df16['B01001_032E'] = df16['B01001_032E'].apply(changeInteger)
df16['B01001_033E'] = df16['B01001_033E'].apply(changeInteger)
df16['B01001_034E'] = df16['B01001_034E'].apply(changeInteger)
df16['B01001_035E'] = df16['B01001_035E'].apply(changeInteger)
df16['B01001_036E'] = df16['B01001_036E'].apply(changeInteger)
df16['B01001_001E'] = df16['B01001_001E'].apply(changeInteger)

In [87]:
df16['percent_age_18_to_34'] = ((df16['B01001_007E'] + df16['B01001_008E'] +df16['B01001_009E'] +df16['B01001_010E'] +df16['B01001_011E']+df16['B01001_012E']+df16['B01001_031E']+df16['B01001_032E']+df16['B01001_033E']+df16['B01001_034E']+df16['B01001_035E']+df16['B01001_036E'])/df16['B01001_001E'])*100

In [88]:
df16['fips'] = df16['state code'] + df16['county code']
df16.head()

,county_name,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_001E,state code,county code,percent_age_18_to_34,fips
0,"Fayette County, Illinois",254,156,226,438,812,718,177,95,135,327,593,573,21565,17,051,20.885694,17051
1,"Logan County, Illinois",497,218,190,588,924,910,467,187,187,689,1058,952,29003,17,107,23.676861,17107
2,"Saline County, Illinois",261,93,209,355,754,735,193,152,132,290,821,718,23994,17,165,19.642411,17165
3,"Lake County, Illinois",12229,6059,5339,16055,20443,19709,9600,4158,4224,14587,18301,19441,701473,17,097,21.404245,17097
4,"Massac County, Illinois",132,24,104,251,388,344,112,93,26,252,377,362,14219,17,127,17.335959,17127

### Age 35 to 44
#### (B01001_013E+B01001_014E+B01001_037E+B01001_038E)/B01001_001E

In [89]:
variables = 'B01001_013E,B01001_014E,B01001_037E,B01001_038E,B01001_001E'
df17 = collectAll_county(year,variables)

['NAME', 'B01001_013E', 'B01001_014E', 'B01001_037E', 'B01001_038E', 'B01001_001E', 'state', 'county']

In [90]:
df17['B01001_013E'] = df17['B01001_013E'].apply(changeInteger)
df17['B01001_014E'] = df17['B01001_014E'].apply(changeInteger)
df17['B01001_037E'] = df17['B01001_037E'].apply(changeInteger)
df17['B01001_038E'] = df17['B01001_038E'].apply(changeInteger)
df17['B01001_001E'] = df17['B01001_001E'].apply(changeInteger)

In [91]:
df17['percent_age_35_to_44'] = ((df17['B01001_013E']+df17['B01001_014E'] +df17['B01001_037E']+df17['B01001_038E'])/df17['B01001_001E'])*100

In [92]:
df17['fips'] = df17['state code'] + df17['county code']
df17.head()

,county_name,B01001_013E,B01001_014E,B01001_037E,B01001_038E,B01001_001E,state code,county code,percent_age_35_to_44,fips
0,"Fayette County, Illinois",800,703,587,540,21565,17,051,12.195687,17051
1,"Logan County, Illinois",1053,925,927,794,29003,17,107,12.753853,17107
2,"Saline County, Illinois",876,447,785,573,23994,17,165,11.173627,17165
3,"Lake County, Illinois",21358,22285,21434,23054,701473,17,097,12.563705,17097
4,"Massac County, Illinois",361,462,452,457,14219,17,127,12.180885,17127

### age 45 to 54
#### (B01001_015E+B01001_016E+B01001_039E+B01001_040E)/B01001_001E

In [93]:
variables = 'B01001_015E,B01001_016E,B01001_039E,B01001_040E,B01001_001E'
df18 = collectAll_county(year,variables)

['NAME', 'B01001_015E', 'B01001_016E', 'B01001_039E', 'B01001_040E', 'B01001_001E', 'state', 'county']

In [94]:
df18['B01001_015E'] = df18['B01001_015E'].apply(changeInteger)
df18['B01001_016E'] = df18['B01001_016E'].apply(changeInteger)
df18['B01001_039E'] = df18['B01001_039E'].apply(changeInteger)
df18['B01001_040E'] = df18['B01001_040E'].apply(changeInteger)
df18['B01001_001E'] = df18['B01001_001E'].apply(changeInteger)

In [95]:
df18['percent_age_45_to_54'] = ((df18['B01001_015E']+df18['B01001_016E'] +df18['B01001_039E']+df18['B01001_040E'])/df18['B01001_001E'])*100

In [96]:
df18['fips'] = df18['state code'] + df18['county code']
df18.head()

,county_name,B01001_015E,B01001_016E,B01001_039E,B01001_040E,B01001_001E,state code,county code,percent_age_45_to_54,fips
0,"Fayette County, Illinois",768,825,622,640,21565,17,051,13.239045,17051
1,"Logan County, Illinois",953,931,838,878,29003,17,107,12.412509,17107
2,"Saline County, Illinois",769,790,754,875,23994,17,165,13.286655,17165
3,"Lake County, Illinois",24147,25337,25021,26294,701473,17,097,14.369619,17097
4,"Massac County, Illinois",451,462,430,487,14219,17,127,12.870103,17127

### age 55 to 64
#### (B01001_017E+B01001_018E+B01001_019E+B01001_041E+B01001_042E+B01001_043E)/B01001_001E

In [97]:
variables = 'B01001_017E,B01001_018E,B01001_019E,B01001_041E,B01001_042E,B01001_043E,B01001_001E'
df19 = collectAll_county(year,variables)

['NAME', 'B01001_017E', 'B01001_018E', 'B01001_019E', 'B01001_041E', 'B01001_042E', 'B01001_043E', 'B01001_001E', 'state', 'county']

In [98]:
df19['B01001_017E'] = df19['B01001_017E'].apply(changeInteger)
df19['B01001_018E'] = df19['B01001_018E'].apply(changeInteger)
df19['B01001_019E'] = df19['B01001_019E'].apply(changeInteger)
df19['B01001_041E'] = df19['B01001_041E'].apply(changeInteger)
df19['B01001_042E'] = df19['B01001_042E'].apply(changeInteger)
df19['B01001_043E'] = df19['B01001_043E'].apply(changeInteger)
df19['B01001_001E'] = df19['B01001_001E'].apply(changeInteger)

In [99]:
df19['percent_age_55_to_64'] = ((df19['B01001_017E']+df19['B01001_018E'] +df19['B01001_019E']+df19['B01001_041E']+df19['B01001_042E']+df19['B01001_043E'])/df19['B01001_001E'])*100

In [100]:
df19['fips'] = df19['state code'] + df19['county code']
df19.head()

,county_name,B01001_017E,B01001_018E,B01001_019E,B01001_041E,B01001_042E,B01001_043E,B01001_001E,state code,county code,percent_age_55_to_64,fips
0,"Fayette County, Illinois",843,344,423,827,215,412,21565,17,051,14.208208,17051
1,"Logan County, Illinois",1018,378,588,1124,353,545,29003,17,107,13.812364,17107
2,"Saline County, Illinois",766,416,474,872,488,415,23994,17,165,14.299408,17165
3,"Lake County, Illinois",24931,9525,11855,25545,9903,12754,701473,17,097,13.473505,17097
4,"Massac County, Illinois",471,171,330,469,319,266,14219,17,127,14.248541,17127

### Combine 19 dataframes together

In [101]:
df = df1[['fips','per_capita_income']].merge(df2[['fips', 'percent_below_poverty']], on = 'fips', how = 'left')

In [102]:
df = df.merge(df3[['fips', 'percent_no_highschool_diploma']], on = 'fips', how = 'left')
df = df.merge(df4[['fips', 'percent_mobile_homes']], on = 'fips', how = 'left')
df = df.merge(df5[['fips', 'percent_no_vehicle']], on = 'fips', how = 'left')
df = df.merge(df6[['fips', 'percent_unemployed_CDC']], on = 'fips', how = 'left')
df = df.merge(df7[['fips', 'percent_overcrowding']], on = 'fips', how = 'left')
df = df.merge(df8[['fips', 'percent_multi_unit_housing']], on = 'fips', how = 'left')
df = df.merge(df9[['fips', 'percent_age_65_and_older']], on = 'fips', how = 'left')
df = df.merge(df10[['fips', 'percent_limited_english_abilities']], on = 'fips', how = 'left')
df = df.merge(df11[['fips', 'percent_age_17_and_younger']], on = 'fips', how = 'left')
df = df.merge(df12[['fips', 'percent_minorities']], on = 'fips', how = 'left')
df = df.merge(df13[['fips', 'percent_disabled']], on = 'fips', how = 'left')
df = df.merge(df14[['fips', 'percent_institutionalized_in_group_quarters']], on = 'fips', how = 'left')
df = df.merge(df15[['fips', 'percent_single_parent_households_CDC']], on = 'fips', how = 'left')
df = df.merge(df16[['fips', 'percent_age_18_to_34']], on = 'fips', how = 'left')
df = df.merge(df17[['fips', 'percent_age_35_to_44']], on = 'fips', how = 'left')
df = df.merge(df18[['fips', 'percent_age_45_to_54']], on = 'fips', how = 'left')
df = df.merge(df19[['fips', 'percent_age_55_to_64']], on = 'fips', how = 'left')
df.head()

,fips,per_capita_income,percent_below_poverty,percent_no_highschool_diploma,percent_mobile_homes,percent_no_vehicle,percent_unemployed_CDC,percent_overcrowding,percent_multi_unit_housing,percent_age_65_and_older,percent_limited_english_abilities,percent_age_17_and_younger,percent_minorities,percent_disabled,percent_institutionalized_in_group_quarters,percent_single_parent_households_CDC,percent_age_18_to_34,percent_age_35_to_44,percent_age_45_to_54,percent_age_55_to_64
0,17051,23194,17.229917,16.807162,12.124259,4.110120,26.116602,1.809487,1.610306,18.817528,4.219823,20.653837,7.869233,30.922562,7.748667,24.595687,20.885694,12.195687,13.239045,14.208208
1,17107,27546,9.299812,11.613410,3.112950,6.566639,24.653236,0.629805,3.809129,18.011930,4.276867,19.332483,13.633072,26.681349,14.160604,14.659030,23.676861,12.753853,12.412509,13.812364
2,17165,25342,21.062513,13.802372,12.736170,8.734456,23.292657,1.975531,3.133538,19.942486,3.093883,21.655414,8.489622,40.026498,2.058848,27.939757,19.642411,11.173627,13.286655,14.299408
3,17097,45766,7.933408,10.078527,1.693308,5.048309,17.000738,2.289515,11.660570,13.733814,26.400563,24.455111,38.363843,16.248831,2.593828,18.301783,21.404245,12.563705,14.369619,13.473505
4,17127,23539,16.748096,14.000599,18.659081,7.437307,24.164907,3.108897,2.366530,20.831282,2.360739,22.533230,11.758914,37.661465,2.341937,20.911361,17.335959,12.180885,12.870103,14.248541

In [104]:
df.head()

,fips,per_capita_income,percent_below_poverty,percent_no_highschool_diploma,percent_mobile_homes,percent_no_vehicle,percent_unemployed_CDC,percent_overcrowding,percent_multi_unit_housing,percent_age_65_and_older,...,percent_age_17_and_younger,percent_minorities,percent_disabled,percent_institutionalized_in_group_quarters,percent_single_parent_households_CDC,percent_age_18_to_34,percent_age_35_to_44,percent_age_45_to_54,percent_age_55_to_64,percent_age_18_to_64
0,30061,23744,16.975680,11.359346,29.324946,3.649205,25.378451,3.119482,0.320000,28.021848,...,18.047970,8.501544,40.741097,1.852292,24.468085,14.723344,9.142721,11.731180,18.332938,53.930183
1,30069,32565,8.353222,1.183432,24.074074,0.534759,15.267176,1.604278,0.000000,19.444444,...,19.907407,1.851852,19.616237,0.000000,43.023256,12.500000,8.333333,15.740741,24.074074,60.648148
2,30077,25060,12.717205,11.437785,12.581014,3.182580,25.448108,3.601340,0.375469,19.457805,...,14.677161,10.290045,25.276589,23.538843,16.800805,21.046495,13.686052,15.682845,15.449643,65.865034
3,30089,23822,19.497133,11.175534,13.452676,2.624672,32.778594,1.150818,0.251145,28.860342,...,17.941151,9.790817,33.965497,2.057113,17.562901,13.184619,9.026994,11.639615,19.347279,53.198507
4,30109,23137,15.803336,12.639405,11.749347,3.018109,13.153457,0.603622,0.844595,20.936170,...,28.595745,4.851064,23.849473,2.212766,12.500000,13.531915,5.531915,18.468085,12.936170,50.468085

In [103]:
df = df.sort_values('fips')
df.head()

,fips,per_capita_income,percent_below_poverty,percent_no_highschool_diploma,percent_mobile_homes,percent_no_vehicle,percent_unemployed_CDC,percent_overcrowding,percent_multi_unit_housing,percent_age_65_and_older,percent_limited_english_abilities,percent_age_17_and_younger,percent_minorities,percent_disabled,percent_institutionalized_in_group_quarters,percent_single_parent_households_CDC,percent_age_18_to_34,percent_age_35_to_44,percent_age_45_to_54,percent_age_55_to_64
1898,01001,29819,15.185172,11.852704,16.707106,4.397813,19.026972,1.135673,3.549994,14.956663,3.954911,23.844348,25.397255,34.542057,1.020224,24.740629,21.422896,13.192488,13.968942,12.614662
1713,01003,32626,10.354073,9.618693,11.849091,3.281849,21.482653,1.287532,17.313689,19.983555,5.067589,21.723911,16.927595,25.303060,1.413335,22.372271,18.524174,12.138326,13.349622,14.280412
1731,01005,18473,30.668689,27.922512,28.805339,10.165864,33.003128,3.852327,1.731458,18.571823,6.696652,20.925831,54.189504,38.210256,11.379677,51.008103,22.601632,11.979023,13.051536,12.870155
1732,01007,20778,18.127181,22.501237,33.063107,6.167465,27.538871,1.117400,2.612956,15.933846,2.020965,20.588628,25.474592,31.165319,8.415952,30.614915,22.095763,12.937358,15.644867,12.799538
1895,01009,24747,13.551516,20.735845,23.670576,4.125294,25.578380,1.794023,0.809933,17.901909,7.288614,23.212150,13.106569,25.429532,0.955254,22.457374,19.659853,12.591668,13.347549,13.286871

In [105]:
df.columns

Index(['fips', 'per_capita_income', 'percent_below_poverty',
       'percent_no_highschool_diploma', 'percent_mobile_homes',
       'percent_no_vehicle', 'percent_unemployed_CDC', 'percent_overcrowding',
       'percent_multi_unit_housing', 'percent_age_65_and_older',
       'percent_limited_english_abilities', 'percent_age_17_and_younger',
       'percent_minorities', 'percent_disabled',
       'percent_institutionalized_in_group_quarters',
       'percent_single_parent_households_CDC', 'percent_age_18_to_34',
       'percent_age_35_to_44', 'percent_age_45_to_54', 'percent_age_55_to_64'],
      dtype='object')

In [106]:
df = df.drop('percent_age_17_and_younger', axis = 1)

In [107]:
df.columns

Index(['fips', 'per_capita_income', 'percent_below_poverty',
       'percent_no_highschool_diploma', 'percent_mobile_homes',
       'percent_no_vehicle', 'percent_unemployed_CDC', 'percent_overcrowding',
       'percent_multi_unit_housing', 'percent_age_65_and_older',
       'percent_limited_english_abilities', 'percent_minorities',
       'percent_disabled', 'percent_institutionalized_in_group_quarters',
       'percent_single_parent_households_CDC', 'percent_age_18_to_34',
       'percent_age_35_to_44', 'percent_age_45_to_54', 'percent_age_55_to_64'],
      dtype='object')

In [108]:
df.to_csv('Social_Economic_0918/Social_Economic_2019.csv')